
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  
}

header a{
  color: white;
  font-family: 'Roboto', sans-serif;
}

nav a{
  margin-right: 30px;
  padding: 3px;
  border-radius: 5px;
}

nav a:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

main{
  background-color: black;
}

.galeria-de-fotos{
  column-count: 4;
  column-gap: 10px;
}

img{
  width: 100%;
  border-radius: 5px;
  margin: 2px;
  opacity: .6;
}

img:hover{
  outline: 2px solid white;
  opacity: 1;
}

/* INICIO FOOTER */
footer{
  font-family: 'meedori';
}

nav a{
  text-decoration: none; /**/
  color: white;
  
}

nav a:hover{
  color: rgb(0, 0, 0);
}

.titleFooter a{ 
text-decoration: none;
color: rgb(253, 0, 0);
}

.footer-arrow {
  
float: left;
width: 100%;
overflow: hidden;
line-height: 0;
}
.footer-arrow svg {
display: block;
width: calc(100% + 1.3px);
height: 30px;
background-color: #000000;
}
.footer-arrow .shape-fill {
fill: #f4f4f4;;
}
.main_footer          { background-color:#000000; color:#fff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 5em 0; }
.container { float:left; width:100%; }
.colfooter { 

  width:100%; 
  height:auto; 
  float:left; 
  margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#000000; }
.colfooter .titleFooter   { 
  font-family: 'Lato', sans-serif; 
  font-size:1.3em; 
  color:#ffffff; 
  padding-bottom: 0.5em; 
  margin-bottom:0.5em; 
  border-bottom: 1px #ff0000 solid;
}
.colfooter p  { 
  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 
}
.colfooter .redesocial { 

color: #ffffff;
float: left;
text-decoration: none;
display: block;
width: 100%;
margin-bottom: 10px;
transition:0.2s;
}
.colfooter .redesocial:hover { 
color: #ffffff;
text-decoration: none;
color: #000000;
transition:0.2s;
}
.main_footer_copy   { background-color:#000000; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#000000 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#000000; }
/*Responsivo*/

/*768PX BREAKPOINT*/
@media (min-width:48em){

.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
.footer-arrow svg { height:50px; }
}
/*960PX BREAKPOINT*/
@media (min-width:60em){
.footer-arrow svg { height:70px; }
}
/*1280PX BREAKPOINT*/
@media (min-width:80em){
.footer-arrow svg { height:90px; }
}
/* media para celular */
@media (max-width:700px){
    header{
      flex-direction: column;
    }

    nav{
      margin-top: 15px;
    }
}